__pycache__/
*.py[cod]
.Python
.DS_Store
.venv/
venv/
build/
*.egg-info/
dist/
*.log
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.env
.idea/
.vscode/
.ipynb_checkpoints/
*.swp
*.swo
*~
